/*color*/
$primary-red: #DC0A2D;
$screen-green: #4BDA6B;
$border-grey: #DEDEDE;
$blue: #28AAFD;
$yellow: #FEF448;

/*border*/
$border-width: 4px;
$small-border-width:2px;


/*border-radius*/
$normal-radius:6px;
$small-radius:2px;
$circle: 100%;



